<%- permalinks = archive.permalinks.page(params[:page]) %>

<%- permalinks.each do |article| %>
  <article class="permalink" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <%- if article.draft? %>
        <p class="published-at permalink-title">
          この記事は公開されていません。
        </p>
      <% end %>
      <p class="published-at">
        <time datetime="<%= l article.created_at, format: "%Y-%m-%d" %>">
          <%= l article.created_at, format: "%b %d, %Y" %>
        </time>
      </p>
      <<%= heading_level %> itemprop="headline" class="permalink-title">
        <%= link_to article.title, "/#{article.path}" %>
      </<%= heading_level %>>
    </header>
    <div class="content">
      <%= article.permalinkable.content_html %>
    </div>
  </article>
<% end %>

<%= paginate permalinks, theme: 'terrace' %>
