<%= form_with(model: article, class: 'permalinkable-form', local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'permalinks/form', form: form %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :article_content, rows: 25 %>
  </div>

  <%- form.object.images.each do |image| %>
    <%= image_tag image.variant(resize: "200x200") %>
  <% end %>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <%- if form.object.ogp_image.attached? %>
    <%= image_tag form.object.ogp_image.variant(resize: "200x200") %>
  <% end %>

  <div class="field">
    <%= form.label :ogp_image %>
    <%= form.file_field :ogp_image %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
