<table class="articles-table">
  <thead>
    <tr>
      <th scope="col">URL</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Noindex</th>
      <th scope="col">Published At</th>
      <th scope="col">Modified At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% articles.each do |article| %>
      <tr class="<%= article.state %>">
        <th scope="row">
          <%= link_to_if article.shipped?,
                         "#{article.site.domain}/#{article.permalink}",
                         "//#{article.site.domain}#{request.port_string}/#{article.permalink}",
                         target: :_blank %>
        </th>
        <td data-controller='editable-cell' data-action="click->editable-cell#edit">
          <div data-target="editable-cell.show" class='field'>
            <%= article.title %>
          </div>
          <%= form_with(model: article, data: {target: 'editable-cell.form',
                                               action: 'ajax:send->editable-cell#loading
                                                        ajax:complete->editable-cell#hide
                                                        ajax:error->editable-cell#error'}, class: 'hide') do |form| %>
            <div class="field">
              <%= form.text_field :title, data: {target: 'editable-cell.input', action: 'blur->editable-cell#show'} %>
            </div>
          <% end %>
        </td>
        <td data-controller='editable-cell' data-action="click->editable-cell#edit" >
          <div data-target="editable-cell.show" class='field'>
            <%= article.description %>
          </div>
          <%= form_with(model: article, data: {target: 'editable-cell.form',
                                               action: 'ajax:send->editable-cell#loading
                                                        ajax:complete->editable-cell#hide
                                                        ajax:error->editable-cell#error'}, class: 'hide') do |form| %>
            <div class="field">
              <%= form.text_field :description, data: {target: 'editable-cell.input', action: 'blur->editable-cell#show'} %>
            </div>
          <% end %>
        </td>
        <td><%= 'noindex' if article.noindex? %></td>
        <td><%= article.published_at.to_s(:db) if article.published_at %></td>
        <td><%= article.modified_at.to_s(:db) if article.modified_at %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'History', article_histories_path(article) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
