<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<%= link_to 'New Article', new_article_path %>

<br>
<br>

<%= render 'articles/table', articles: @articles %>

<br>

<%= paginate @articles %>

<br>

<%= link_to 'New Article', new_article_path %>
