<h1>Articles</h1>

<nav class="article_nav">
  <ul class="search_tabs">
    <li class="tab"><%= link_to t(".all"), articles_path %></li>
    <li class="tab"><%= link_to t(".published"), articles_path(state: 'shipped') %></li>
    <li class="tab"><%= link_to t(".drafts"), articles_path(state: 'draft') %></li>
  </ul>
  <%= form_with model: @q, local: true, url: articles_path, method: :get, skip_enforcing_utf8: true, builder: SearchFormBuider do |f| %>
    <div class="search-form">
      <div>
        <%= f.label :title %>
        <%= f.search_field :title %>
      </div>
      <div>
        <%= f.label :permalink %>
        <%= f.search_field :permalink %>
      </div>
      <div>
        <%= f.label :state %>
        <div class="search-form">
          <%= f.radio_button :state, :shipped, id: :shipped %>
          <%= f.label :shipped, for: :shipped, class: 'radio-button-label' %>
          <%= f.radio_button :state, :draft, id: :draft %>
          <%= f.label :draft, for: :draft, class: 'radio-button-label' %>
        </div>
      </div>
      <div class="submit-field">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</nav>

<br>

<%= link_to 'New Article', new_article_path %>

<br>
<br>

<%= render 'articles/table', articles: @articles %>

<br>

<%= paginate @articles %>

<br>

<%= link_to 'New Article', new_article_path %>
