<p id="notice"><%= notice %></p>

<%- @article.attributes.each do |attr| %>
  <p>
  <strong><%= attr.first %>:</strong>
    <%= attr.last %>
  </p>
<% end %>
<p>
  <strong>ogp_image:</strong>
  <%- if @article.ogp_image.attached? %>
    <%= image_tag @article.ogp_image.variant(resize: "200x200") %>
  <% end %>
</p>
<p>
  <strong>images:</strong>
  <%- @article.images.each do |image| %>
    <%= image_tag image.variant(resize: "200x200") %>
  <% end %>
</p>
<p>
  <strong>tags:</strong>
  <%= @article.tags.map(&:name).join(", ") %>
</p>
<p>
  <strong>noindex:</strong>
  <%= @article.noindex %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'History', article_histories_path(@article) %> |
<%= link_to 'Back', articles_path %>
