<%= form_with model: permalink, local: true, class: 'form', data: {controller: 'permalink-form'} do |form| %>
  <div class="field">
    <%= form.label :path %>
    <%= form.text_field :path %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 10 %>
  </div>

  <div class="field">
    <%= form.label :og_image_url %>
    <%= form.text_field :og_image_url %>
  </div>

  <div class="field">
    <%= form.label :noindex %>
    <%= form.check_box :noindex %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.select :state, Permalink.states.keys %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, Current.site.categories.map {|category| [category.name, category.id]}, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <div class="checkbox-fields">
      <%= form.collection_check_boxes :tag_ids, Current.site.tags, :id, :name do |b| %>
        <div class="checkbox-field">
          <%= b.check_box %>
          <%= b.label { b.text } %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.label :permalinkable_type %>
    <%= form.select :permalinkable_type, Permalink.permalinkable_types, {}, data: {target: 'permalink-form.type', action: 'change->permalink-form#select'} %>
  </div>

  <template data-target="permalink-form.articleFields">
    <%= form.fields_for :permalinkable, permalink.article do |permalinkable_form| %>
      <div class="field">
        <%= permalinkable_form.label :content %>
        <%= permalinkable_form.text_area :content, rows: 25 %>
      </div>
    <% end %>
  </template>

  <template data-target="permalink-form.pageFields">
    <%= form.fields_for :permalinkable, permalink.page do |permalinkable_form| %>
      <div class="field">
        <%= permalinkable_form.label :content %>

        <%= permalinkable_form.text_area :content, rows: 25 %>
      </div>
    <% end %>
  </template>

  <template data-target="permalink-form.archiveFields">
    <%= form.fields_for :permalinkable, permalink.archive do |permalinkable_form| %>
      <div class="field">
        <%= permalinkable_form.label :archiveable_type %>

        <%= permalinkable_form.text_field :archiveable_type %>
      </div>
      <div class="field">
        <%= permalinkable_form.label :archiveable_id %>

        <%= permalinkable_form.text_field :archiveable_id %>
      </div>
    <% end %>
  </template>

  <div data-target="permalink-form.permalinkableFields">
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
