<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <p class="published-at">
      <time datetime="<%= l article.created_at, format: "%Y-%m-%d" %>">
        <%= l article.created_at, format: "%b %d, %Y" %>
      </time>
    </p>
    <<%= heading_level %> itemprop="headline" class="article-title">
      <%= link_to article.title, "/#{article.permalink}" %>
    </<%= heading_level %>>
  </header>
  <div class="content">
    <%= article.content_html %>
  </div>
</article>
