<article class="permalink" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- if permalink.draft? %>
      <p class="published-at permalink-title">
        この記事は公開されていません。
      </p>
    <% end %>
    <p class="published-at">
      <time datetime="<%= l permalink.created_at, format: "%Y-%m-%d" %>">
        <%= l permalink.created_at, format: "%b %d, %Y" %>
      </time>
    </p>
    <<%= heading_level %> itemprop="headline" class="permalink-title">
      <%= link_to permalink.title, "/#{permalink.path}" %>
    </<%= heading_level %>>
  </header>
  <div class="content">
    <%= permalink.permalinkable.content_html %>
  </div>
</article>
