<% content_for :stylesheets do %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.2.0/dist/css/yakuhanjp-noto.min.css" async>
  <%= stylesheet_link_tag 'terrace/application' %>
<% end %>
<% content_for :javascript do %>
  <%= javascript_include_tag "https://kit.fontawesome.com/59a55ccf92.js", async: 'async' %>
<% end %>

<% content_for :header do %>
  <header class="header">
    <div class="logo">
      <h2 class="logo__text"><a href='/'><%= current_site.name %></a></h2>
    </div>
  </header>
<% end %>

<% content_for :footer do %>
  <footer class="footer">
    <hr />
    <p>copyright &copy; <%= Time.current.year %> koheisg All Rights Reserved.</p>
  </footer>
<% end %>

<%= render template: "layouts/terrace/application" %>
