<% content_for 'title' do %>
  <title><%= @permalink.title %></title>
<% end %>

<% content_for :description do %>
  <% if @permalink.description.present? %>
    <meta name="description" content="<%= @permalink.description %>">
  <% end %>
<% end %>

<% content_for :canonical do %>
  <link rel="canonical" href="<%= "https://#{@permalink.site.domain}/#{@permalink.path}" %>" />
<% end %>

<% content_for :noindex do %>
  <% if @permalink.noindex? %>
    <meta name="robots" content="noindex">
  <% end %>
<% end %>

<% content_for :ogp do %>
  <% if @permalink.og_image_url.present? %>
    <meta property="og:image" content="<%= @permalink.og_image_url %>">
    <meta name=“twitter:card” content="summary_large_image" />
    <meta name="twitter:site" content="@koheiSG">
    <meta name="twitter:creator" content="@koheiSG">
    <meta name="twitter:title" content="<%= @permalink.title %>">
    <meta name="twitter:description" content="<%= @permalink.description %>">
  <% end %>
<% end %>

<%= render @permalink.permalinkable, heading_level: 'h1' %>
