<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= yield('title') %>
  <%= yield(:description) %>
  <%= yield(:stylesheets) %>
  <%= yield(:javascript) %>
  <%= javascript_include_tag "terrace/application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://platform.twitter.com/widgets.js", async: 'async' %>
  <%= yield(:canonical) %>
  <%= yield(:noindex) %>
</head>
<body class="<%= controller.controller_name %>">

<%= yield(:header) %>

<%= yield %>

<%= yield(:footer) %>

</body>
</html>
