<%- permalinks = archive.permalinks.page(params[:page]) %>
<%
    if permalinks.total_count.zero?
      raise ActiveRecord::RecordNotFound
    end
  %>
<%- permalinks.each do |article| %>
  <article itemscope itemtype="http://schema.org/BlogPosting" class="pb-32 max-w-[704px] mx-auto <%= current_site.prose %> prose-headings:text-lg prose-headings:my-5">
    <header>
      <%- if article.draft? %>
        <p>
        この記事は公開されていません。
        </p>
      <% end %>
      <div>
        <time datetime="<%= l article.created_at, format: "%Y-%m-%d" %>">
          <%= l article.created_at, format: "%b %d, %Y" %>
        </time>
      </div>
      <div class='py-5'>
        <%= link_to "/#{article.path}", class: 'not-prose' do %>
          <<%= heading_level %> itemprop="headline" class="text-2xl font-bold"><%= article.title %></<%= heading_level %>>
        <% end %>
      </div>
    </header>
    <div>
      <%= article.permalinkable.content_truncated_html %>
    </div>
    <% if article.permalinkable.content_truncated? %>
      <%= link_to '... Continue Reading', "/#{article.path}" %>
    <% end %>
  </article>
<% end %>

<div class='max-w-[704px] mx-auto py-10'>
  <%= paginate permalinks, theme: 'terrace' %>
</div>
