<!DOCTYPE html>
<html class="<%= yield(:html_classes) %>">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield('title') %>
    <%= yield(:canonical) %>
    <%= yield(:description) %>
    <%= yield(:javascript) %>
    <%= yield(:noindex) %>
    <%= yield(:ogp) %>
    <%= yield(:stylesheets) %>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://platform.twitter.com/widgets.js", async: 'async' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="<%= yield(:body_classes) %>">
    <%= yield(:header) %>
    <%= yield %>
    <%= yield(:footer) %>
  </body>
</html>
