<p id="notice"><%= notice %></p>

<h1>User Sites</h1>

<nav class="local_menu">
  <ul class="tabs">
    <li class="tab"><%= link_to t(".sites"), sites_path %></li>
    <li class="tab"><%= link_to t(".user_sites"), user_sites_path %></li>
  </ul>
</nav>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_sites.each do |user_site| %>
      <tr>
        <td><%= user_site.user %></td>
        <td><%= user_site.site %></td>
        <td><%= link_to 'Show', user_site %></td>
        <td><%= link_to 'Edit', edit_user_site_path(user_site) %></td>
        <td><%= link_to 'Destroy', user_site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Site', new_user_site_path %>
