<%= form.fields_for :permalink do |permalink_form| %>
  <div class="field">
    <%= permalink_form.label :site %>
    <%= permalink_form.collection_select :site_id, current_user.sites, :id, :domain %>
  </div>

  <div class="field">
    <%= permalink_form.label :path %>
    <%= permalink_form.text_field :path %>
  </div>

  <div class="field">
    <%= permalink_form.label :title %>
    <%= permalink_form.text_field :title %>
  </div>

  <div class="field">
    <%= permalink_form.label :description %>
    <%= permalink_form.text_area :description, rows: 10 %>
  </div>

  <div class="field">
    <%= permalink_form.label :noindex %>
    <%= permalink_form.check_box :noindex %>
  </div>

  <div class="field">
    <%= permalink_form.label :state %>
    <%= permalink_form.select :state, Permalink.states.keys %>
  </div>

<% end %>
