<tr class="<%= permalink.state %>">
  <td scope="row"><%= permalink.permalinkable_type %></td>
  <td scope="row">
    <%= link_to permalink.site.domain,
                "//#{permalink.site.domain}#{request.port_string}/",
                target: :_blank %>
  </td>
  <td data-controller='editable-cell'>
    <div data-action="click->editable-cell#edit" data-target="editable-cell.show" class='field'>
      <%= permalink.category_name %>
    </div>
    <%= form_with(model: permalink, data: {target: 'editable-cell.form',
                                           action: 'ajax:send->editable-cell#loading
                                                    ajax:complete->editable-cell#hide
                                                    ajax:error->editable-cell#error'}, class: 'hide') do |form| %>
      <div class="field">
        <div>
          <%= form.select :category_id, current_site.categories.map {|category| [category.name, category.id]}, {include_blank: true},
            data: {target: 'editable-cell.input', action: 'blur->editable-cell#show'},
            onchange: 'javascript: Rails.fire(this.form, "submit")' %>
        </div>
      </div>
    <% end %>
  </td>
  <td data-controller='editable-cell'>
    <div data-action="click->editable-cell#edit" data-target="editable-cell.show" class='field'>
      <%= permalink.tags.map {|tag| tag.name }.join(', ') %>
    </div>
    <%= form_with(model: permalink, data: {target: 'editable-cell.form',
                                           action: 'ajax:send->editable-cell#loading
                                                    ajax:complete->editable-cell#hide
                                                    ajax:error->editable-cell#error'}, class: 'hide') do |form| %>
      <div class="field">
        <div>
          <%= form.collection_select :tag_ids,
                                      current_site.tags,
                                      :id,
                                      :name,
                                      {include_blank: true},
                                      {multiple: true, size: 5,
                                       data: {target: 'editable-cell.input', action: 'blur->editable-cell#show'},
                                       onchange: 'javascript: Rails.fire(this.form, "submit")'} %>
        <div>
      </div>
    <% end %>
  </td>
  <td data-controller='editable-cell'>
    <% if permalink.shipped? %>
      <%= link_to_if permalink.shipped?,
                     "/#{permalink.path}",
                     "//#{permalink.site.domain}#{request.port_string}/#{permalink.path}",
                     target: :_blank %>
    <% else %>
      <div data-action="click->editable-cell#edit" data-target="editable-cell.show" class='field permalink-prefix'>
        <%= "#{permalink.path}" %>
      </div>
      <%= form_with(model: permalink, data: {target: 'editable-cell.form',
                                             action: 'ajax:send->editable-cell#loading
                                                      ajax:complete->editable-cell#hide
                                                      ajax:error->editable-cell#error'}, class: 'hide') do |form| %>
        <div class="field flex-container">
          <div><span>/ <span></div>
          <div><%= form.text_field :path, data: {target: 'editable-cell.input', action: 'blur->editable-cell#show'} %></div>
        </div>
      <% end %>
    <% end %>
  </td>
  <td data-controller='editable-cell'>
    <div data-action="click->editable-cell#edit" data-target="editable-cell.show" class='field'>
      <%= permalink.title %>
    </div>
    <%= form_with(model: permalink, data: {target: 'editable-cell.form',
                                         action: 'ajax:send->editable-cell#loading
                                                  ajax:complete->editable-cell#hide
                                                  ajax:error->editable-cell#error'}, class: 'hide') do |form| %>
      <div class="field">
        <%= form.text_field :title, data: {target: 'editable-cell.input', action: 'blur->editable-cell#show'} %>
      </div>
    <% end %>
  </td>
  <td data-controller='editable-cell'>
    <div data-action="click->editable-cell#edit" data-target="editable-cell.show" class='field'>
      <%= permalink.description %>
    </div>
    <%= form_with(model: permalink, data: {target: 'editable-cell.form',
                                           action: 'ajax:send->editable-cell#loading
                                                    ajax:complete->editable-cell#hide
                                                    ajax:error->editable-cell#error'}, class: 'hide') do |form| %>
      <div class="field">
        <%= form.text_field :description, data: {target: 'editable-cell.input', action: 'blur->editable-cell#show'} %>
      </div>
    <% end %>
  </td>
  <td><%= 'noindex' if permalink.noindex? %></td>
  <td><%= l permalink.published_at, format: :db if permalink.published_at %></td>
  <td><%= l permalink.modified_at, format: :db if permalink.modified_at %></td>
  <td><%= link_to 'Show', permalink %></td>
  <td><%= link_to 'Edit', [:edit, permalink] %></td>
  <td><%= link_to 'Destroy', permalink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
