<h1>Permalinks</h1>

<nav class="article_nav">
  <ul class="search_tabs">
    <li class="tab"><%= link_to t(".all"), permalinks_path %></li>
    <li class="tab"><%= link_to t(".published"), permalinks_path(state: 'shipped') %></li>
    <li class="tab"><%= link_to t(".drafts"), permalinks_path(state: 'draft') %></li>
  </ul>
  <%= form_with model: @q, local: true, url: permalinks_path, method: :get, skip_enforcing_utf8: true, builder: SearchFormBuider do |f| %>
    <div class="search-form">
      <div>
        <%= f.label :permalinkable_type %>
        <%= f.select :permalinkable_type, Permalink.permalinkable_types, include_blank: true %>
      </div>
      <div>
        <%= f.label :title %>
        <%= f.search_field :title %>
      </div>
      <div>
        <%= f.label :path %>
        <%= f.search_field :path %>
      </div>
      <div>
        <%= f.label :state %>
        <div class="search-form">
          <%= f.radio_button :state, :shipped, id: :shipped %>
          <%= f.label :shipped, for: :shipped, class: 'radio-button-label' %>
          <%= f.radio_button :state, :draft, id: :draft %>
          <%= f.label :draft, for: :draft, class: 'radio-button-label' %>
        </div>
      </div>
      <div class="submit-field">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</nav>

<br />

<%= link_to 'New Article', new_article_path %>

<br>
<br>

<table class="articles-table">
  <thead>
    <tr>
      <th>Permalinkable Type</th>
      <th>Site</th>
      <th>Path</th>
      <th>Title</th>
      <th>Description</th>
      <th>Noindex</th>
      <th>Published at</th>
      <th>Modified at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= form_with(model: Permalink.new, class: 'form') do |form| %>
      <%= form.hidden_field :state, value: :draft %>
      <tr>
        <td><%= form.select :permalinkable_type, Permalink.permalinkable_types %></td>
        <td><%= form.collection_select :site_id, current_user.sites, :id, :domain %></td>
        <td><%= form.text_field :path %></td>
        <td><%= form.text_field :title, id: :article_title %></td>
        <td><%= form.text_field :description, id: :article_description, rows: 10 %></td>
        <td><%= form.check_box :noindex %></td>
        <td></td>
        <td></td>
        <td colspan="3"><%= form.submit %></td>
      </tr>
    <% end %>
    <%= render @permalinks %>
  </tbody>
</table>

<br>

<%= paginate @permalinks %>
