<% content_for 'title' do %>
  <title><%= current_site.name %></title>
<% end %>

<header class="header">
  <div class="logo">
    <h1 class="logo__text"><a href='/'><%= current_site.name %></a></h1>
  </div>
</header>

<% @permalinks.each do |permalink| %>
  <%= render "terrace/article", permalink: permalink, heading_level: "h2" %>
<% end %>

<%= paginate @permalinks, theme: 'terrace' %>

<footer class="footer">
  <hr />
  <p>copyright &copy; <%= Time.current.year %> koheisg All Rights Reserved.</p>
</footer>
