<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield('title') %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= "#{controller.controller_path.gsub('/', '_')}" %>">
    <nav class="global-menu" data-turbolinks-permanent>
      <div class="select">
        <%= collection_select :site, :id, Site.all, :id, :name,
                              {include_blank: 'All site', selected: current_site&.id},
                              data: {remote: true, method: :patch, url: '/site_session'} %>
      </div>
      <ul class="tabs">
        <li class="tab"><%= link_to t(".home"), root_path %></li>
        <li class="tab">
          <%= link_to t(".articles"), articles_path %>
        </li>
        <%- if admin? %>
          <li class="tab"><%= link_to t(".tags"), tags_path %></li>
          <li class="tab"><%= link_to t(".users"), users_path %></li>
          <li class="tab"><%= link_to t(".sites"), sites_path %></li>
        <% end %>
        <%- if login? %>
          <li class="tab"><%= link_to t(".logout"), logout_path, method: :delete %></li>
        <% else %>
          <li class="tab"><%= link_to t(".login"), login_path %></li>
        <% end %>
        <%- if Rails.env.development? %>
          <li class="tab"><%= link_to t(".routes"), 'rails/info/routes' %></li>
        <% end %>
      </ul>
    </nav>
    <div class="notification"><p id="notice"><%= notice %></p></div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
